{% extends "WH::content.header" %}

{% block Body %}

  <div class="body" id="menu_einbuchen">
      <hr>
      <br />
      <!-- body -->
      <input type="text" class="form-control findPlace" placeholder="LagerortEAN" style="width: 83% !important">
      <input type="button" class="btn back" value="Zurück" disabled>
      <div id="output_place"></div>
      <br />
      <input type="text" id="articleean" placeholder="ArtikelEAN" class="form-control artikelEAN" disabled>
      <p class="inline">Menge: </p><input type="number" id="menge" value="1" class="form-control inline"><input type="checkbox" id="standart_menge"><p class="inline">Standardisierte Menge</p>
      <div id="status"></div>
      <div id="output"></div>
      <br />
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Artikelvorschau</h4>
            </div>
            <div class="modal-body" id="articlepreview">
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" id="savepreview">Speichern</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
            </div>
          </div>

        </div>
      </div>
      <!-- body end -->
  </div>
</div>

<span id="menu_var" style="display: none;">einbuchen</span>
<span id="menu_model" style="display: none;">pl</span>

<script src="{{ plugin_path('WH') }}/js/incoming.js"></script>
{% endblock %}
