{% extends "WH::content.header" %}

{% block Body %}

  <div class="body" id="menu_einbuchen">
      <hr>
      <br />
      <!-- body -->
      <input type="text" class="form-control findArticle" placeholder="EAN">
      <input type="button" class="btn back" value="Zurück" disabled>
      <div id="output"></div>
      <br />
      <p class="inline">Menge: </p><input type="number" id="menge" value="1" class="form-control inline"><input type="checkbox" id="standart_menge"><p class="inline">Standardisierte Menge</p>
      <input type="text" id="lagerortean" placeholder="Lagerortbarcode" class="form-control locationEan" disabled>
      <br />
      <!-- body end -->
  </div>
</div>

<span id="menu_var" style="display: none;">einbuchen</span>
<span id="menu_model" style="display: none;">std</span>
<script src="{{ plugin_path('WH') }}/js/start.js"></script>
{% endblock %}
