<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<!-- -->
<h1>Transfer</h1>
<!-- Warehouses[0] START -->
<div class="warehouses">
  {% if test is not null %}
    {% for x in test %}
      {{ x }}
    {% endfor %}
  {% else %}
    <p>Bitte legen Sie ein Lager an</p>
  {% endif %}
</div>
<!-- Warehouses[0] END -->
