{% extends "Storage24Lite::content.header" %}

{% block Body %}
  <div class="body" id="menu_umbuchen">
      <hr>
      <br />
      <!-- body -->
      <input type="text" class="form-control findArticle" placeholder="EAN">
      <input type="button" class="btn back" value="Zurück" disabled>
      <div id="output" class="output"></div>
      <div id="lagerorteoutput" class="output"></div>
      <div id="selectedoutput" class="output"></div>
      <br />
      <p class="inline">Menge: </p><input type="number" id="menge" value="1" class="form-control inline">
      <div class='standard'><input type="checkbox" id="standart_menge"><p class="inline">Standardisierte Menge</p></div>
      <input type="text" id="lagerortean" placeholder="Lagerortbarcode" class="form-control locationEan" disabled>
      <br />
      <!-- body end -->
  </div>
</div>

<span id="menu_var" style="display: none;">umbuchen</span>
<span id="menu_model" style="display: none;">std</span>
<script src="{{ plugin_path('Storage24Lite') }}/js/transfer.js"></script>
{% endblock %}
