body {
    font-size: 20px;
    background-color: #F2F2F2;
}

.container {
    background-color: white;
    margin-top: 20px;
}

.form-control {
    font-size: 20px !important;
}

#output {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.find-true {
    color: black;
    background-color: orange;
    font-size: 28px;
    text-align: center;
    margin-top: 3px;
}

.find-false {
    color: white;
    background-color: red;
    font-size: 28px;
    text-align: center;
}

.find-true p {
    display: inline-block;
    margin-top: 10px;
}

.green {
    color: white;
    background-color: green;
    font-size: 28px;
    text-align: center;
    margin-top: 3px;
}

.green p {
    display: inline-block;
    margin-top: 10px;
}

.use_variant {
    float: right;
    margin-right: 50px;
    margin-top: 15px;
    cursor: pointer;
}

.findArticle {
    display: inline-block !important;
    width: 83% !important;
}

.number {
    font-weight: 700;
    color: black;
}

.locationEan {
    margin-bottom: 10px !important;
}

.btn:hover {
    color: white;
    background-color: #354763;
    cursor: pointer;
}

.btn {
    cursor: pointer;
}

.inline {
    display: inline-block !important;
    margin-left: 5px;
    margin-right: 5px;
}

#menge {
    width: 150px;
}


/**
* LOGIN
*/

#login {
    z-index: 990;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: grey;
    left: 0;
    top: 0;
    opacity: .9;
    text-align: center;
    padding-top: 200px;
}

.login {
    border: 1px solid grey;
    border-radius: 3px;
    background-color: white;
    opacity: 1.1;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.login .form-control {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.login .btn {
    margin-bottom: 14px;
}

.login h3 {
    margin-top: 10px;
}


/**
* SPINNER
*/

.spinner {
    height: 50px;
    position: fixed;
    text-align: center;
    margin-left: 50%;
}

#load {
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #555;
    left: 0;
    top: 0;
    opacity: .9;
    text-align: center;
    padding-top: 200px;
}

.popup {
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #555;
    left: 0;
    top: 0;
    opacity: .9;
    text-align: center;
    padding-top: 200px;
}

.spinner>div {
    background-color: #fff;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

.menutip {
    opacity: 0.5;
}

.menutip:hover {
    opacity: 1;
    cursor: pointer;
    color: #819FF7;
}

label:hover {
    cursor: pointer;
}

.standard{
    display: inline-block;
}

input[type=checkbox]:hover {
    cursor: pointer;
}

.btn {
    background-color: #008EBD;
    color: white;
    border-radius: 0px;
}

.btn {
    background-color: #008EBD;
    color: white;
    border-radius: 0px;
}

input {
    border-radius: 0px !important;
}

input[type=text],
input[type=number],
input[type=password] {
    font-size: 16px !important;
}

table td {
    padding: .25em !important;
    font-size: 20px !important;
}

table tr td {
    background: #FFFFFF;
    !important
}

table tr:nth-child(odd) td {
    background: #F5F5F5;
}


/**
* Icons
*/

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}
/* RESPONSIVE */
@media (max-width: 1000px) {
    .use_variant{
        float: none !important;
        margin-right: 0px !important;
        margin-top: 0px !important;
        margin-bottom: 2px !important;
    } }